.forAll {
    width: 1300px;
    height: 1000px;
    display: flex;
    background: lightgray;
    padding: 20px;
}
.first {
    width: 400px;
    height: 650px;
    border: 3px solid black;
    background: white;
    box-sizing: border-box;
}
.header1 {
    height: 50px;
    border-bottom: 3px solid black;
    display: flex;
    column-gap: 200px;
    box-sizing: border-box;
    padding: 10px;
}
.mainCont {
    display: flex;
}
.box1, .box2 {
    width: 100px;
    height: 25px;
    background: lightgray;
}
.aside {
    width: 80px;
    height: 565px;
    border-right: 3px solid black;
    padding: 15px;
}
.as1, .as2, .as3, .as4, .as5, .as6 {
    width: 80px;
    height: 20px;
    background: lightgray;
    margin-bottom: 10px;
}
.bigBox {
    width: 253px;
    height: 160px;
    border-bottom: 3px solid black;
    padding: 15px;
}
.gray {
    width: 250px;
    height: 160px;
    background: lightgray;
}
.four {
    display: flex;
    width: 263px;
    height: 40px;
    border-bottom: 3px solid black;
    padding: 10px;
    column-gap: 15px;
}
.bl1, .bl2, .bl3, .bl4 {
    width: 55px;
    height: 40px;
    background: lightgray;
}
.mainPart1 {
    display: flex;
    border-bottom: 3px solid black;
}
.twelve {
    width: 180px;
    display: flex;
    border-right: 3px solid black;
    padding: 15px;
    column-gap: 20px;
}
.left12, .left12_2 {
    width: 80px;
}
.l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .l10, .l11, .l12 {
    width: 80px;
    height: 40px;
    background: lightgray;
    margin-bottom: 5px;
}
.right4 {
    padding: 10px;
}
.r1, .r2, .r3, .r4 {
    width: 50px;
    height: 20px;
    background: lightgray;
    margin-bottom: 10px;
}
.downBox {
    padding: 5px;
}
.big {
    width: 260px;
    height: 10px;
    background: lightgray;
    margin-bottom: 5px;
}
.small {
    width: 50px;
    height: 10px;
    background: lightgray;
    margin-left: 90px;
}
/*____________________________________2____________________________________*/

