p {
    font-size: 13.5px;
}
.all4 {
    width: 500px;
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
    color: azure;
}
.header {
    width: 500px;
    height: 50px;
    background: cornflowerblue;
    margin-bottom: 5px;
}
.footer {
    width: 500px;
    height: 50px;
    background: darkorange;
    margin-top: 5px;
}
.middle,.rel {
    display: flex;
    margin-bottom: 5px;
    column-gap: 3px;
}
.hero {
    width: 200px;
    height: 200px;
    background: violet;
    margin-bottom: 5px;
}
.sBar {
    width: 200px;
    height: 250px;
    background: lawngreen;
}
.main {
    width: 297px;
    height: 300px;
    background: orange;
    margin-bottom: 5px;
}
.extra {
    width: 297px;
    height: 150px;
    background: dimgray;
}
.relIm {
    width: 350px;
    height: 70px;
    background: mediumspringgreen;
}
.relPos {
    width: 150px;
    height: 70px;
    background: pink;
}