.a {
    background: gray;
    width: 497px;
    height: 100px;
    margin: 1px;
    text-align: center;
}
.b {
    background: silver;
    width: 300px;
    height: 200px;
    margin: 1px;
    text-align: center;
}
.c {
    background: indigo;
    width: 195px;
    height: 200px;
    margin: 1px;
    text-align: center;
}
.bc {
    display: flex;
    width: 700px;
}
.abc {
    border: 3px solid darkgray;
    width: 500px;
}
/*-______________________________________________2______________________________________________________*/
.wrapper {
    background: silver;
    width: 500px;
    border: darkgray solid 2px;
    text-align: center;
}
.ma {
    display: flex;
    height: 200px;
}
.header {
    height: 50px;
    background: blue;
}
.nav {
    height: 50px;
    background: darkblue;
}
.footer {
    height: 50px;
    background: cornflowerblue;
}
.main {
    width: 400px;
    background: lightblue;
}
.aside {
    width: 100px;
    background: cadetblue;
}
/*----------------------------------------------------------2-1----------------------------------------------*/
.wrap {
    width: 500px;
    border: darkgray solid 2px;
    display: flex;
    flex-direction: column;
    margin: 7px;
    text-align: center;
}
.h {
    height: 100px;
    background: greenyellow;
    border: darkgray solid 1px;
    margin: 3px;
}
.f {
    height: 100px;
    background: burlywood;
    border: darkgray solid 1px;
    margin: 3px;
}
.b1 {
    height: 308px;
    width: 100px;
    background: violet;
    border: darkgray solid 1px;
    margin: 3px;
}
.two-b{
    display: flex;
    flex-direction: column;
}
.b2 {
    width: 400px;
    height: 150px;
    border: darkgray solid 1px;
    margin: 3px;
    background: aqua;
}
.b3{
    width: 400px;
    height: 150px;
    border: darkgray solid 1px;
    margin: 3px;
    background: aqua;
}
.boxes{
    display: flex;
}
/*-------------------------------------2-2---------------------------------------*/
.box1 {
    width: 400px;
    height: 150px;
    background: blue;
}
.box2 {
    width: 120px;
    height: 150px;
    background: darkblue;
}
.box3 {
    width: 120px;
    height: 150px;
    background: darkblue;
}
.box4 {
    width: 120px;
    height: 150px;
    background: darkblue;
}
.box5 {
    width: 400px;
    height: 300px;
    background: blue;
}
p {
    text-align: center;
    font-size: 18px;
    color: beige;
}
.onetwothree {
    display: flex;
    column-gap: 20px;
    margin-top: 10px;
}